body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #BBDDFF;
  text-decoration: underline;
}

a:active,a:hover {
  color: #BBDDFF;
  text-decoration: none;
}

a:visited {
  color: #BBDDFF;
  text-decoration: underline;
}

img {
  border-color: #BBDDFF;
  color: #BBDDFF;
}

tt {
  font-size: 12pt;
}

.description {
  color: #000000;
  font-size: 13pt;
  text-align: justify;
}

.separator {
  color: #FFFFFF;
}

.table_misc {
  background-color: #DF0451;
  color: #FFFFFF;
  font-size: 12pt;
}

.table_subtitle {
  background-color: #020286;
  color: #FFFFFF;
  font-size: 13pt;
}

.table_subtitle2 {
  background-color: #020286;
  color: #FFFFFF;
  font-size: 12pt;
}

.table_paths {
  color: #BBDDFF;
  font-size: 12pt;
  font-weight: bold;
}

.table_text {
  background-color: #DF0451;
  color: #FFFFFF;
  font-size: 13pt;
}

.table_text_out {
  background-color: #020286;
  color: #FFFFFF;
  font-size: 13pt;
}

.table_title {
  color: #FFFFFF;
  font-size: 20pt;
  font-weight: bold;
}

.table_up {
  background-color: #DF0451;
  font-size: 12pt;
}

.text_justify {
  background-color: #020286;
  color: #FFFFFF;
  font-size: 13pt;
  text-align: justify;
}

.text {
  color: #000000;
  font-size: 12pt;
}
