body {
  background-color: #DDDAEC;
  color: #000000;
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #43CF20;
  text-decoration: underline;
}

a:active,a:hover {
  color: #43CF20;
  text-decoration: none;
}

a:visited {
  color: #43CF20;
  text-decoration: underline;
}

img {
  border-color: #43CF20;
  color: #43CF20;
}

tt {
  font-size: 10pt;
}

.description {
  color: #000000;
  font-size: 11pt;
  text-align: justify;
}

.separator {
  color: #DDDAEC;
}

.table_misc {
  background-color: #46357C;
  color: #FFFFFF;
  font-size: 10pt;
}

.table_subtitle {
  background-color: #7A5ADA;
  color: #FFFFFF;
  font-size: 11pt;
}

.table_subtitle2 {
  background-color: #7A5ADA;
  color: #FFFFFF;
  font-size: 10pt;
}

.table_paths {
  color: #43CF20;
  font-size: 10pt;
  font-weight: bold;
}

.table_text {
  background-color: #46357C;
  color: #FFFFFF;
  font-size: 11pt;
}

.table_text_out {
  background-color: #7A5ADA;
  color: #FFFFFF;
  font-size: 11pt;
}

.table_title {
  color: #FFFFFF;
  font-size: 13pt;
  font-weight: bold;
}

.table_up {
  background-color: #46357C;
  font-size: 10pt;
}

.text_justify {
  background-color: #7A5ADA;
  color: #FFFFFF;
  font-size: 11pt;
  text-align: justify;
}

.text {
  color: #000000;
  font-size: 10pt;
}
